<!DOCTYPE html>
<html>
  <!--<head>-->
  <!--  <title>Bowling</title>-->
  <!--</head>-->
  
  <!--<body>-->
  <!--  <h1> Buster's Best Bowling Alley</h1>-->
  <!--  <h2> Bet You Can't Bowl A Strike Every Time</h2>-->
  <!--  <p> 97 Bowling AlleyLane, Boulder CO </p>-->
  </body>
</html>